
body
{
	background-image: url("pictures/image4.jpg");
	background-repeat: no-repeat;
	background-size: 1600px 1000px;
	color: black;
    font-family: "Times New Roman", Georgia, Serif;
}

table {
width: 60%;
}

table, th, td {
  border: 0.1px  black;
   
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:hover {background-color: grey}

th {
    background-color: black;
    color: red;
}

th, td {
    border-bottom: 0.1px;
}	

tr.noBorder td {
  border: 0;
}
h1 {
    color: white;
    margin-left: 20px;
    text-shadow: 3px 2px red;
}
.button4 {
    
    padding: 8px 100px;
}

#myDIV {
    width: 1600px;
    height: 00px;
    background: red;
    -webkit-animation: mymove 10s infinite; /* Chrome, Safari, Opera */
    animation: mymove 10s infinite;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}